* {
  font-size: 16px;
  font-family: ui-monospace, monospace;
  padding: 0;
  margin: 0;
  color: #fff;
  box-sizing: border-box;
}

#frame {
  height: 100vh;
  display: flex;
  gap: 16px;
}

.err {
  color: #f00;
  border: #f00 1px solid;
  width: 100%;
}

.app-px {
  padding-left: 16px;
  padding-right: 16px;
}
.app-py {
  padding-top: 16px;
  padding-bottom: 16px;
}
.p-1 {
  padding: 4px 8px;
}
.p-2 {
  padding: 16px;
}
.grid {
  display: grid;
  gap: 8px;
}
.flex {
  display: flex;
  gap: 8px;
}
.grow {
  flex-grow: 1;
}
.end {
  justify-content: flex-end;
}
.col {
  flex-direction: column;
}
.temp-col {
  grid-template-columns: 1fr;
}
.border-high {
  border: 1px solid #fff;
}
.border-high:disabled {
  border: 1px solid #666;
}
.border-low {
  border: 1px solid #666;
}
.bg-main {
  background-color: #000;
}
.bg-high {
  background-color: #fff;
}
.bg-high:disabled {
  background-color: #666;
}
.bg-low {
  background-color: #222;
}
.bg-transparent {
  background-color: transparent;
}
.text-high {
  color: #000;
}
.text-low {
  color: #fff;
}
.stroke-high {
  stroke: rgb(0 0 0 / 1);
}
.stroke-low {
  stroke: rgb(255 255 255 / 1);
}
.pointer {
  cursor: pointer;
}
.pointer:disabled {
  cursor: not-allowed;
}
.list-style-none {
  list-style: none;
}
.center {
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .temp-col {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 960px) {
  .temp-col {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1440px) {
  .temp-col {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
