* {
  font-size: 16px;
  font-family: monospace;
  padding: 0;
  margin: 0;
}

body {
  padding: 20px;
}

.completed .task-name {
  text-decoration: line-through;
  color: #888;
}

.hidden {
  display: none;
}

.controls {
  margin-bottom: 20px;
}

#task-list {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-buttons button {
  margin-left: 5px;
}